@font-face {
    font-family: 'open sans bold';
    src: url('./fonts.css/OpenSans-Bold.woff');
}

body {
    font-family: 'open sans bold';
    font-weight: 700;
    font-style: normal;
}

/* Контейнер */
.store {
    width: 110rem;
    margin: auto;
}

/* Иконка */
.icon-switch {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 30px;
}

.material-icons {
    font-size: 3rem;
}

/* Стили для карточки товара */
.cards-view .shop-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29rem;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #fffafa;
}

/* Тени карточки товара */
.cards-view .shop-item {
    box-shadow: 0px 14px 20px 2px rgba(0, 0, 0, 0.2);
}

/* Стили для изображения товара */
.cards-view .shop-item img {
    width: 100%;
    height: auto;
}

/* Стили для названия товара */
.shop-item h3 {
    margin: 10px 0;
    color: #333;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

.cards-view .shop-item p {
    font-size: 1.5rem;
}

.cards-view .shop-item .element {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.cards-view .shop-item .element p {
    color: red;
    font-size: 2rem;
}

button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
    color: red;
    cursor: pointer;
    border: 1px solid red;
}

button:hover {
    color: white;
    background-color: red;
}

.list-view .shop-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.list-view .shop-item img {
    width: 10rem;
}

.list-view .shop-item p {
    font-size: 1.5rem;
}

.list-view .shop-item .price {
    color: red;
}

/* Стили для отображения товаров в виде списка */
.list-view {
    display: flex;
    flex-direction: column;
}

/* Стили для отображения товаров в виде карточек */
.cards-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}